%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {jsx, "3.1.0"},
    %% NOTE
    %% Pinning to version "1.11.2" from hex here causes constant upgrading and recompilation of the entire project
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.2"}}},
    {libdecaf, "2.1.1"},
    {pooler, {git, "https://github.com/seth/pooler", {ref, "96e1840"}}},
    {scrypt, {git, "https://github.com/kpy3/erlscrypt", {tag, "2.1.0"}}},
    {shamir, {git, "https://github.com/valitydev/shamir.git", {branch, master}}},
    {riakc, {git, "https://github.com/valitydev/riak-erlang-client", {branch, "develop"}}},
    {woody, {git, "https://github.com/valitydev/woody_erlang.git", {tag, "v1.1.0"}}},
    {genlib, {git, "https://github.com/valitydev/genlib.git", {tag, "v1.1.0"}}},
    {erl_health, {git, "https://github.com/valitydev/erlang-health.git", {branch, master}}},
    {cds_proto, {git, "https://github.com/valitydev/cds-proto.git", {branch, master}}},
    {tds_proto, {git, "https://github.com/valitydev/tds-proto.git", {branch, master}}},
    {msgpack, {git, "https://github.com/valitydev/msgpack-erlang", {branch, master}}},
    {scoper, {git, "https://github.com/valitydev/scoper.git", {branch, master}}},
    {identdocstore_proto, {git, "https://github.com/valitydev/identdocstore-proto.git", {branch, master}}},
    {opentelemetry_api, "1.2.1"},
    {opentelemetry, "1.3.0"},
    {opentelemetry_exporter, "1.3.0"},
    {epg_connector, {git, "https://github.com/valitydev/epg_connector.git", {branch, "bg-debug-version"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.
% at will
% {xref_warnings, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{shell, [
    {apps, [cds]}
]}.

{profiles, [
    {prod, [
        {deps, [
            % for introspection on production
            {recon, "2.5.2"},
            % Because of a dependency conflict, prometheus libs are only included in the prod profile for now
            % https://github.com/project-fifo/rebar3_lint/issues/42
            % https://github.com/valitydev/hellgate/pull/2/commits/884724c1799703cee4d1033850fe32c17f986d9e
            {prometheus, "4.8.1"},
            {prometheus_cowboy, "0.1.8"},
            {logger_logstash_formatter,
                {git, "https://github.com/valitydev/logger_logstash_formatter.git", {ref, "08a66a6"}}}
        ]},
        {relx, [
            {release, {cds, "0.1.0"}, [
                {recon, load},
                {runtime_tools, load},
                {tools, load},
                {libdecaf, load},
                {opentelemetry, temporary},
                {logger_logstash_formatter, load},
                {epg_connector, load},
                prometheus,
                prometheus_cowboy,
                cds
            ]},
            {mode, minimal},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {extended_start_script, true},
            {overlay, [
                {copy, "script/maintenance", "{{output_dir}}/bin/maintenance"}
            ]}
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {deps, []},
        {dialyzer, [
            {plt_extra_apps, [eunit, common_test, epg_connector, epgsql]}
        ]}
    ]}
]}.

{project_plugins, [
    {rebar3_lint, "3.2.6"},
    {erlfmt, "1.5.0"},
    {covertool, "2.0.7"},
    {rebar3_thrift_compiler, {git, "https://github.com/valitydev/rebar3_thrift_compiler.git", {tag, "0.3.2"}}}
]}.

%% Linter config.
{elvis_output_format, colors}.

{erlfmt, [
    {print_width, 120},
    {files, ["apps/*/{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config", "config/sys.config"]}
]}.

{covertool, [
    {coverdata_files, [
        "eunit.coverdata",
        "ct.coverdata"
    ]}
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin, [
        {deps, [
            {protobuffs, {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}
        ]}
    ]},
    {override, protobuffs, [
        {deps, []}
    ]},
    {override, riakc, [
        {erl_opts, [
            {d, namespaced_types},
            {d, deprecated_19}
        ]}
    ]},
    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "https://github.com/tsloughter/riak_pb_msgcodegen", {branch, master}}},
            {rebar3_protobuffs_plugin, {git, "https://github.com/cmkarlsson/rebar3_protobuffs_plugin", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {protobuffs, compile}},
                {compile, riak_pb_msgcodegen}
            ]}
        ]}
    ]},
    {override, hamcrest, [
        {plugins, []}
    ]},
    {del, [
        {plugins, [{rebar3_archive_plugin, "0.0.1"}]},
        {plugins, [{rebar3_archive_plugin, "0.0.2"}]}
    ]}
]}.
